@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Overarching Elements */
* {
  @apply transition-colors ease-in duration-500;
}

body {
  @apply font-body mr-0;
}

#react-body {
  @apply min-h-full min-w-full absolute;
}
    
/* Header Elements */
header {
  -webkit-app-region: drag;
  @apply fixed font-header text-xl flex h-10 w-full items-center justify-center z-[2] top-0;
}

#color-btn {
  -webkit-app-region: no-drag;
}

#day, #close-btn {
  -webkit-app-region: no-drag;
}

#content {
  @apply px-[5px] pt-[5px] pb-3;
}

/* Settings Tab Elements */
.settings-header {
  @apply pt-[17px] mb-1.5 underline font-bold text-[17px];
}

#settings {
  @apply text-center select-none;
}

.setting {
  @apply ml-5;
}

.vcon {
  @apply fixed flex justify-center w-full m-0 bottom-0;
}

/* Task Elements */
.noteText {
  @apply text-[15px] p-[3px] flex;
}

[type="checkbox"] {
  @apply ml-[10px] mt-[3px] h-4 w-[14px];
}

.labelClass {
  @apply outline-none bg-transparent resize-none ml-[7px] inline font-normal break-words;
}

textarea {
  @apply w-full;
  content: attr(data-replicated-value) " ";
}

/* Resizer & Others */
.resizer {
  @apply bottom-[-32px] right-[-32px] size-14 z-[2] fixed rotate-45 transition-shadow duration-[400ms];
}

/* Hide Scrollbar */
::-webkit-scrollbar {
  @apply hidden;
}

/* Progress Bar Styles */
.progcon {
  @apply text-[13px] text-center fixed bottom-[7px] left-[5px] z-[2] rounded-[5px] pl-1 pr-[7px];
}

.progbar {
  @apply appearance-none mt-[6px] ml-[3px] h-3 bg-gray-200 rounded-[5px];
}

.progbar::-webkit-progress-bar {
  @apply bg-gray-200 rounded-[5px];
}

.progbar::-webkit-progress-value {
  @apply bg-blue-500 rounded-[5px];
}

/* Separator for Content */
.separator {
  @apply h-10 w-full;
}
